<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="Admin">
  	<resultMap type="Revenue" id="revenueResultSet">
      <result property="mId" column="MID"/>   
      <result property="mName" column="MNAME"/>   
      <result property="peach_code" column="PEACH_CODE"/>  
      <result property="p_date" column="P_DATE"/>
   </resultMap>
  
  	
  	 
  	<!-- 관리자 메인화면 -->
  	<select id="allMenuList" resultType="hashmap">
	SELECT COUNT(*) bj, (SELECT SUM(PRICE)
						FROM PAYHISTORY
						WHERE TO_CHAR(PAY_DATE) = TO_CHAR(SYSDATE)) mt,
						(SELECT COUNT(*) FROM BOARD WHERE B_TYPE = '44' AND B_STATUS = 'Y') report,
						(SELECT COUNT(*) FROM MEMBER WHERE TO_CHAR(JOIN_DATE) =	TO_CHAR(SYSDATE)) newm,
						<!-- 출금 신청 해야함. -->
						(SELECT COUNT(*) FROM BOARD WHERE B_TYPE = 'personal' AND B_STATUS = 'Y') personal
						
	FROM JDBC
	WHERE STATUS = 'Y'
	GROUP BY 2
  	</select> 
  	 
  	<select id="memberList" resultType="hashmap">
  		SELECT COUNT(*) TOTAL, (SELECT COUNT(*) FROM MEMBER WHERE VIDEO_YN='Y') BJ, (SELECT COUNT(*) FROM PAYHISTORY) REVENUE
		FROM MEMBER
		WHERE MSTATUS = 'Y'
		GROUP BY 2
  	</select>
  	
  	<select id="searchDay" resultType="java.lang.String">
  		SELECT TO_CHAR(LAST_DAY(SYSDATE), 'RRRR-MM-DD') FROM DUAL
  	</select>
  	
  	<select id="revenueList" resultMap="revenueResultSet">
  		SELECT MID, MNAME, PEACH_CODE, TO_CHAR(PAY_DATE, 'RRRR-MM-DD-hh24:mm:ss') P_DATE
		FROM MEMBER
		JOIN PAYHISTORY USING(MCODE)
  	</select>
  	
  	<select id="searchRevenue" parameterType="java.lang.String" resultMap="revenueResultSet">
  		SELECT MID, MNAME, PEACH_CODE, TO_CHAR(PAY_DATE, 'RRRR-MM-DD-hh24:mm:ss') P_DATE
  		FROM MEMBER
		JOIN PAYHISTORY USING(MCODE)
		WHERE MID = #{userId}
  	</select>
  	
  	<select id="searchRevenueUser" parameterType="java.lang.String" resultType="_int">
  		SELECT COUNT(*)
  		FROM PAYHISTORY
		JOIN MEMBER USING(MCODE)
		WHERE MID = #{userId}
  	</select>
  	
  </mapper>