<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="Admin">
  	<resultMap type="Revenue" id="revenueResultSet">
      <result property="mId" column="MID"/>   
      <result property="mName" column="MNAME"/>   
      <result property="peach_code" column="PEACH_CODE"/>  
      <result property="p_date" column="P_DATE"/>
   </resultMap>
  	
  	<resultMap type="Member" id="memberResultSet" >
		<id property="mcode" column="MCODE"/>
		<result property="mId" column="MID"/>
		<result property="mPwd" column="MPWD"/>
		<result property="mName" column="MNAME"/>
		<result property="nickName" column="M_NICKNAME"/>
		<result property="email" column="EMAIL"/>
		<result property="account" column="ACCOUNT"/>
		<result property="joinDate" column="JOIN_DATE"/>
		<result property="updateDate" column="UPDATE_DATE"/>
		<result property="status" column="MSTATUS"/>
		<result property="a_status" column="A_STATUS"/>
		<result property="peach" column="PEACH"/>
		<result property="videoYN" column="VIDEO_YN"/>
		<result property="readerCount" column="READER"/>
	</resultMap>
  	
  	<resultMap type="Withdrawal" id="withdrawalResultSet">
  		<result property="mId" column="MID"/>
  		<result property="mName" column="MNAME"/>
  		<result property="amount" column="PRICE"/>
  		<result property="account" column="ACCOUNT"/>
  		<result property="wd_date" column="WD_DATE"/>
  		<result property="wdCode" column="WD_CODE"/>
  	</resultMap>
  	 
  	 <resultMap type="Contact" id="contactResultSet">
  	 	<result property="bCode" column="B_CODE"/>
  	 	<result property="vCode" column="V_CODE"/>
  	 	<result property="bType" column="B_TYPE"/>
  	 	<result property="bTitle" column="B_TITLE"/>
  	 	<result property="bContent" column="B_CONTENT"/>
  	 	<result property="bWriter" column="BWRITER"/>
  	 	<result property="bCreateDate" column="B_CREATE_DATE"/>
  	 	<result property="bUpdateDate" column="B_UPDATE_DATE"/>
  	 	<result property="bCount" column="B_COUNT"/>
  	 	<result property="bStatus" column="B_STATUS"/>
  	 </resultMap>
  	 
  	 <resultMap type="Report" id="reportResultSet">
  	 	<result property="bCode" column="B_CODE"/>
  	 	<result property="reporter" column="REPORTER"/>
  	 	<result property="target" column="TARGET"/>
  	 	<result property="videoYN" column="VIDEO_YN"/>
  	 	<result property="content" column="B_CONTENT"/>
  	 	<result property="reportSum" column="REPORTSUM"/>
  	 	<result property="reportDate" column="REPORTDATE"/>
  	 	<result property="screen" column="SCREEN"/>
  	 </resultMap>
  	 
  	 
  	<!-- 관리자 메인화면 -->
  	<select id="allMenuList" resultType="hashmap">
	SELECT (SELECT COUNT(*) FROM MEMBER WHERE VIDEO_YN = 'Y') bj,
        		(SELECT NVL(SUM(PRICE), 0)
				FROM PAYHISTORY
				WHERE TO_CHAR(PAY_DATE) = TO_CHAR(SYSDATE)) mt,
		        (SELECT COUNT(*) FROM BOARD WHERE B_TYPE = 'report' AND B_STATUS = 'Y') report,
		        (SELECT COUNT(*) FROM MEMBER WHERE TO_CHAR(JOIN_DATE) =	TO_CHAR(SYSDATE)) newm,
		        (SELECT COUNT(*) FROM WITHDRAWAL WHERE STATUS = 'N') withdrawal,            
		        (SELECT COUNT(*) FROM BOARD WHERE B_TYPE = 'personal' AND B_STATUS = 'Y') personal
	FROM MEMBER 
	GROUP BY 2
  	</select> 
  	 
  	<select id="memberList" resultType="hashmap">
  		SELECT (SELECT COUNT(*) FROM MEMBER WHERE MSTATUS = 'Y')TOTAL, (SELECT COUNT(*) FROM MEMBER WHERE VIDEO_YN='Y') BJ, (SELECT COUNT(*) FROM PAYHISTORY) REVENUE, (SELECT COUNT(*) FROM WITHDRAWAL WHERE TO_CHAR(WD_DATE) = TO_CHAR(SYSDATE) AND STATUS = 'N') TODAY, (SELECT COUNT(*) FROM WITHDRAWAL WHERE TO_CHAR(SUCCESS_DATE) = TO_CHAR(SYSDATE) AND STATUS = 'Y') SUCCESS, (SELECT COUNT(*) FROM WITHDRAWAL WHERE STATUS = 'Y') DEPOSIT, (SELECT COUNT(*) FROM BOARD WHERE B_TYPE LIKE 'personal%' ) CONTACT, (SELECT COUNT(*) FROM WITHDRAWAL WHERE STATUS = 'N') WITHCOUNT, (SELECT COUNT(*) FROM MEMBER WHERE MSTATUS = 'A') BLACKUSER
		FROM DUAL
  	</select>
  	
  	<select id="userAllList" resultMap="memberResultSet">
  		SELECT MCODE, MID, MPWD, MNAME, M_NICKNAME, EMAIL, ACOUNT, JOIN_DATE, UPDATE_DATE, MSTATUS, A_STATUS, PEACH, VIDEO_YN, (SELECT COUNT(*) FROM SUBSCRIBE WHERE M.MCODE = BJ_MCODE) READER
		FROM MEMBER M
		WHERE MSTATUS = 'Y'
		AND MID != 'admin'
  	</select>
  	
  	<select id="searchDay" resultType="java.lang.String">
  		SELECT TO_CHAR(LAST_DAY(SYSDATE), 'RRRR-MM-DD') FROM DUAL
  	</select>
  	
  	<select id="revenueList" resultMap="revenueResultSet">
  		SELECT MID, MNAME, PEACH_CODE, TO_CHAR(PAY_DATE, 'RRRR-MM-DD-hh24:mm:ss') P_DATE
		FROM MEMBER
		JOIN PAYHISTORY USING(MCODE)
  	</select>
  	
  	<select id="searchRevenue" parameterType="java.lang.String" resultMap="revenueResultSet">
  		SELECT MID, MNAME, PEACH_CODE, TO_CHAR(PAY_DATE, 'RRRR-MM-DD-hh24:mm:ss') P_DATE
  		FROM MEMBER
		JOIN PAYHISTORY USING(MCODE)
		WHERE MID = #{userId}
  	</select>
  	
  	<select id="searchRevenueUser" parameterType="java.lang.String" resultType="_int">
  		SELECT COUNT(*)
  		FROM PAYHISTORY
		JOIN MEMBER USING(MCODE)
		WHERE MID = #{userId}
  	</select>
  	
  	<select id="withdrawalList" resultMap="withdrawalResultSet">
  		SELECT MID, MNAME, PRICE, ACCOUNT, TO_CHAR(WD_DATE, 'yyyy-MM-dd-hh24:mm:ss') AS WDDATE, WD_CODE
		FROM WITHDRAWAL
		JOIN MEMBER USING(MCODE)
		WHERE STATUS = 'N'
  	</select>
  	
  	<select id="withdrawalCount" resultType="hashmap">
  		SELECT (SELECT COUNT(*) FROM WITHDRAWAL WHERE TO_CHAR(WD_DATE) = TO_CHAR(SYSDATE) AND STATUS = 'N') TODAY, (SELECT COUNT(*) FROM WITHDRAWAL WHERE TO_CHAR(WD_DATE) = TO_CHAR(SYSDATE) AND STATUS = 'Y') SUCCESS
		FROM DUAL
  	</select>
  	
  	<select id="searchWithdrawal" parameterType="java.lang.String" resultMap="withdrawalResultSet">
  		SELECT MID, MNAME, PRICE, ACCOUNT, TO_CHAR(WD_DATE, 'yyyy-MM-dd-hh24:mm:ss') AS WDDATE, WD_CODE
		FROM WITHDRAWAL
		JOIN MEMBER USING(MCODE)
		WHERE MID = #{userId}
		AND STATUS = 'N'
  	</select>
  	
  	<update id="approval" parameterType="_int">
  		UPDATE WITHDRAWAL SET STATUS = 'Y', SUCCESS_DATE = SYSDATE
		WHERE WD_CODE = #{wdCode}
  	</update>
  	
  	<update id="refusal" parameterType="java.lang.String">
		UPDATE WITHDRAWAL SET STATUS = 'A', SUCCESS_DATE = SYSDATE
		WHERE WD_CODE = #{wdCode} 		
  	</update>
  	
  	<select id="depositList" resultMap="withdrawalResultSet">
  		SELECT MID, MNAME, PRICE, ACCOUNT, TO_CHAR(SUCCESS_DATE, 'yyyy-MM-dd-hh24:mm:ss') AS WDDATE, WD_CODE
		FROM WITHDRAWAL
		JOIN MEMBER USING(MCODE)
		WHERE STATUS = 'Y'
  	</select>
  	
  	<select id="searchDeposit" parameterType="java.lang.String" resultMap="withdrawalResultSet">
  		SELECT MID, MNAME, PRICE, ACCOUNT, TO_CHAR(WD_DATE, 'yyyy-MM-dd-hh24:mm:ss') AS WDDATE, WD_CODE
		FROM WITHDRAWAL
		JOIN MEMBER USING(MCODE)
		WHERE MID = #{userId}
		AND STATUS = 'Y'
  	</select>
  	
  	<select id="searchWithCount" parameterType="java.lang.String" resultType="_int">
  		SELECT COUNT(*)
  		FROM WITHDRAWAL
  		JOIN MEMBER USING(MCODE)
  		WHERE STATUS = 'N'
  		AND MID = #{userId}
  	</select>
  	
  	<select id="depositUserCount" parameterType="java.lang.String" resultType="_int">
  		SELECT COUNT(*)
  		FROM WITHDRAWAL
  		JOIN MEMBER USING(MCODE)
  		WHERE STATUS = 'Y'
  		AND MID = #{userId}
  	</select>
  	
  	<insert id="addAnswer" parameterType="java.util.HashMap">
  		INSERT INTO REPLY
  		VALUES (#{code}, SEQ_R_CODE.NEXTVAL||'personal', #{content}, '관리자', SYSDATE, 0)
  	</insert>
  	
  	<select id="contactList" resultMap="contactResultSet">
  		SELECT B_CODE, V_CODE, SUBSTR(B_TYPE, INSTR(B_TYPE, '/')+1, LENGTH(B_TYPE)) B_TYPE, B_TITLE, B_CONTENT, BWRITER, TO_CHAR(B_CREATE_DATE, 'yyyy-MM-dd-hh24:mm:ss') AS B_CREATE_DATE, TO_CHAR(B_UPDATE_DATE, 'yyyy-MM-dd-hh24:mm:ss') AS B_UPDATE_DATE, B_COUNT, B_STATUS
		FROM BOARD 
		WHERE B_TYPE LIKE 'personal%'
		AND B_CODE NOT IN (SELECT B_CODE FROM REPLY)
  	</select>
  	
  	<select id="contactTypeCount" parameterType="java.lang.String" resultType="_int">
  		SELECT COUNT(*)
		FROM BOARD 
		WHERE B_TYPE = 'personal/'||#{type}
		AND B_CODE NOT IN (SELECT B_CODE FROM REPLY)
  	</select>
  	
  	<select id="contactTypeList" parameterType="java.lang.String" resultMap="contactResultSet">
  		SELECT B_CODE, V_CODE, SUBSTR(B_TYPE, INSTR(B_TYPE, '/')+1, LENGTH(B_TYPE)) B_TYPE, B_TITLE, B_CONTENT, BWRITER, TO_CHAR(B_CREATE_DATE, 'yyyy-MM-dd-hh24:mm:ss') AS B_CREATE_DATE, TO_CHAR(B_UPDATE_DATE, 'yyyy-MM-dd-hh24:mm:ss') AS B_UPDATE_DATE, B_COUNT, B_STATUS
		FROM BOARD 
		WHERE B_TYPE = 'personal/'||#{type}
		AND B_CODE NOT IN (SELECT B_CODE FROM REPLY)
  	</select>
  	
  	<select id="searchContact" parameterType="java.lang.String" resultType="_int">
  		SELECT COUNT(*)
		FROM BOARD 
		WHERE B_TYPE LIKE 'personal%'
		AND B_CODE NOT IN (SELECT B_CODE FROM REPLY)
		AND BWRITER = #{userId}
  	</select>
  	
  	<select id="searchContactUser" parameterType="java.lang.String" resultMap="contactResultSet">
  		SELECT B_CODE, V_CODE, SUBSTR(B_TYPE, INSTR(B_TYPE, '/')+1, LENGTH(B_TYPE)) B_TYPE, B_TITLE, B_CONTENT, BWRITER, TO_CHAR(B_CREATE_DATE, 'yyyy-MM-dd-hh24:mm:ss') AS B_CREATE_DATE, TO_CHAR(B_UPDATE_DATE, 'yyyy-MM-dd-hh24:mm:ss') AS B_UPDATE_DATE, B_COUNT, B_STATUS
		FROM BOARD 
		WHERE B_TYPE LIKE 'personal%'
		AND B_CODE NOT IN (SELECT B_CODE FROM REPLY)
		AND BWRITER = #{userId}
  	</select>
  	
  	<update id="stopUser" parameterType="java.lang.String">
  		UPDATE MEMBER SET MSTATUS = 'A', UPDATE_DATE = SYSDATE
  		WHERE MID = #{userId}
  	</update>
  	
  	<select id="blackUsers" resultMap="memberResultSet">
  		SELECT MCODE, MID, MPWD, MNAME, M_NICKNAME, EMAIL, ACOUNT, JOIN_DATE, UPDATE_DATE, MSTATUS, A_STATUS, PEACH, VIDEO_YN, (SELECT COUNT(*) FROM SUBSCRIBE WHERE M.MCODE = BJ_MCODE) READER
		FROM MEMBER M
		WHERE MSTATUS = 'A'
  	</select>
  	
  	<update id="restoreUser" parameterType="java.lang.String">
  		UPDATE MEMBER SET MSTATUS = 'Y'
  		WHERE MID = #{userId}
  	</update>
  	
  	<select id="blackUserSearch" parameterType="java.lang.String" resultMap="memberResultSet">
  		SELECT MCODE, MID, MPWD, MNAME, M_NICKNAME, EMAIL, ACOUNT, JOIN_DATE, UPDATE_DATE, MSTATUS, A_STATUS, PEACH, VIDEO_YN, (SELECT COUNT(*) FROM SUBSCRIBE WHERE M.MCODE = BJ_MCODE) READER
  		FROM MEMBER M 
  		WHERE MID = #{userId}
  		AND MSTATUS = 'A'
  	</select>
  	
  	<select id="reportListCount" resultType="_int">
  		SELECT COUNT(*)
  		FROM BOARD
  		WHERE B_TYPE = 'report'
  		AND B_STATUS = 'Y'
  	</select>
  	
  	<select id="reportList" resultMap="reportResultSet">
  		SELECT B_CODE, BWRITER AS REPORTER, B_TITLE AS TARGET, VIDEO_YN, B_CONTENT, (SELECT COUNT(*) FROM BOARD B2 WHERE B1.B_TITLE = B2.B_TITLE) AS REPORTSUM, TO_CHAR(B_CREATE_DATE, 'yyyy-MM-dd-hh24:mm:ss') AS REPORTDATE, F_RENAME AS SCREEN
		FROM BOARD B1
		JOIN MEMBER ON(B1.B_TITLE = MID)
		JOIN UPLOADFILE ON (B1.B_CREATE_DATE = UPLOAD_DATE)
		WHERE B1.B_TYPE = 'report'
		AND B1.B_STATUS = 'Y'
  	</select>
  	
  	<select id="urlSearch" parameterType="java.lang.String" resultType="string">
  		SELECT V_HREF
  		FROM JDBC
  		WHERE MCODE = #{target}
  	</select>
  	
  	<select id="newUserCount" resultType="_int">
  		SELECT COUNT(*)
  		FROM MEMBER
  		WHERE TO_CHAR(JOIN_DATE) = TO_CHAR(SYSDATE)
  	</select>
  	
  	<select id="newUserList" resultMap="memberResultSet">
  		SELECT *
  		FROM MEMBER
  		WHERE TO_CHAR(JOIN_DATE) = TO_CHAR(SYSDATE)
  	</select>

  	<select id="reportUserCount" parameterType="java.lang.String" resultType="_int">
  		SELECT COUNT(*)
  		FROM BOARD
  		WHERE B_TITLE = #{userId}
  		AND B_STATUS = 'Y'
  		AND B_TYPE = 'report'
  	</select>
  	<select id="searchReportUser" parameterType="java.lang.String" resultMap="reportResultSet">
  		SELECT B_CODE, BWRITER AS REPORTER, B_TITLE AS TARGET, VIDEO_YN, B_CONTENT, (SELECT COUNT(*) FROM BOARD B2 WHERE B1.B_TITLE = B2.B_TITLE) AS REPORTSUM, TO_CHAR(B_CREATE_DATE, 'yyyy-MM-dd-hh24:mm:ss') AS REPORTDATE, F_RENAME AS SCREEN
		FROM BOARD B1
		JOIN MEMBER ON(B1.B_TITLE = MID)
		JOIN UPLOADFILE ON (B1.B_CREATE_DATE = UPLOAD_DATE)
		WHERE B1.B_TYPE = 'report'
  		AND B_STATUS = 'Y'
  		AND B_TITLE = #{userId}
  	</select>
  	<select id="sReportListCount" resultType="_int">
  		SELECT COUNT(*)
  		FROM BOARD
  		WHERE B_TYPE = 'report'
  		AND B_STATUS = 'N'
  	</select>
  	<select id="sReportList" resultMap="reportResultSet">
  		SELECT B_CODE, BWRITER AS REPORTER, B_TITLE AS TARGET, VIDEO_YN, B_CONTENT, (SELECT COUNT(*) FROM BOARD B2 WHERE B1.B_TITLE = B2.B_TITLE) AS REPORTSUM, TO_CHAR(B_UPDATE_DATE, 'yyyy-MM-dd-hh24:mm:ss') AS REPORTDATE, F_RENAME AS SCREEN
		FROM BOARD B1
		JOIN MEMBER ON(B1.B_TITLE = MID)
		JOIN UPLOADFILE ON (B1.B_CREATE_DATE = UPLOAD_DATE)
		WHERE B1.B_TYPE = 'report'
		AND B1.B_STATUS = 'N'
  	</select>
  	<update id="statusChange">
  		UPDATE BOARD SET B_STATUS = 'N', B_UPDATE_DATE = SYSDATE
  		WHERE B_CODE = #{bCode}
  	</update>
  	<select id="sReportUserSearch" parameterType="java.lang.String" resultType="_int">
  		SELECT COUNT(*)
  		FROM BOARD
  		WHERE B_TYPE = 'report'
  		AND B_STATUS = 'N'
  		AND B_TITLE = #{userId}
  	</select>
  	<select id="sReportUserList" parameterType="java.lang.String" resultMap="reportResultSet">
  		SELECT B_CODE, BWRITER AS REPORTER, B_TITLE AS TARGET, VIDEO_YN, B_CONTENT, (SELECT COUNT(*) FROM BOARD B2 WHERE B1.B_TITLE = B2.B_TITLE) AS REPORTSUM, TO_CHAR(B_UPDATE_DATE, 'yyyy-MM-dd-hh24:mm:ss') AS REPORTDATE, F_RENAME AS SCREEN
		FROM BOARD B1
		JOIN MEMBER ON(B1.B_TITLE = MID)
		JOIN UPLOADFILE ON (B1.B_CREATE_DATE = UPLOAD_DATE)
		WHERE B1.B_TYPE = 'report'
		AND B1.B_STATUS = 'N'
		AND B1.B_TITLE = #{userId}
  	</select>
  </mapper>