<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="Admin">
  	<resultMap type="Revenue" id="revenueResultSet">
      <result property="mId" column="MID"/>   
      <result property="mName" column="MNAME"/>   
      <result property="peach_code" column="PEACH_CODE"/>  
      <result property="p_date" column="P_DATE"/>
   </resultMap>
  	<!-- private int amount;
	private String account;
	private String date;
	private int payment; -->
  	<resultMap type="Withdrawal" id="withdrawalResultSet">
  		<result property="mId" column="MID"/>
  		<result property="mName" column="MNAME"/>
  		<result property="amount" column="PRICE"/>
  		<result property="account" column="ACCOUNT"/>
  		<result property="wd_date" column="WD_DATE"/>
  		<result property="wdCode" column="WD_CODE"/>
  	</resultMap>
  	 
  	<!-- 관리자 메인화면 -->
  	<select id="allMenuList" resultType="hashmap">
	SELECT (SELECT COUNT(*) FROM MEMBER WHERE VIDEO_YN = 'Y') bj,
        		(SELECT SUM(PRICE)
				FROM PAYHISTORY
				WHERE TO_CHAR(PAY_DATE) = TO_CHAR(SYSDATE)) mt,
		        (SELECT COUNT(*) FROM BOARD WHERE B_TYPE = 'report' AND B_STATUS = 'Y') report,
		        (SELECT COUNT(*) FROM MEMBER WHERE TO_CHAR(JOIN_DATE) =	TO_CHAR(SYSDATE)) newm,
		        (SELECT COUNT(*) FROM WITHDRAWAL WHERE STATUS = 'N' AND WD_DATE = SYSDATE) withdrawal,            
		        (SELECT COUNT(*) FROM BOARD WHERE B_TYPE = 'personal' AND B_STATUS = 'Y') personal
	FROM MEMBER 
	GROUP BY 2
  	</select> 
  	 
  	<select id="memberList" resultType="hashmap">
  		SELECT (SELECT COUNT(*) FROM MEMBER WHERE MSTATUS = 'Y')TOTAL, (SELECT COUNT(*) FROM MEMBER WHERE VIDEO_YN='Y') BJ, (SELECT COUNT(*) FROM PAYHISTORY) REVENUE, (SELECT COUNT(*) FROM WITHDRAWAL WHERE TO_CHAR(WD_DATE) = TO_CHAR(SYSDATE) AND STATUS = 'N') TODAY, (SELECT COUNT(*) FROM WITHDRAWAL WHERE TO_CHAR(WD_DATE) = TO_CHAR(SYSDATE) AND STATUS = 'Y') SUCCESS 
		FROM DUAL
  	</select>
  	
  	<select id="searchDay" resultType="java.lang.String">
  		SELECT TO_CHAR(LAST_DAY(SYSDATE), 'RRRR-MM-DD') FROM DUAL
  	</select>
  	
  	<select id="revenueList" resultMap="revenueResultSet">
  		SELECT MID, MNAME, PEACH_CODE, TO_CHAR(PAY_DATE, 'RRRR-MM-DD-hh24:mm:ss') P_DATE
		FROM MEMBER
		JOIN PAYHISTORY USING(MCODE)
  	</select>
  	
  	<select id="searchRevenue" parameterType="java.lang.String" resultMap="revenueResultSet">
  		SELECT MID, MNAME, PEACH_CODE, TO_CHAR(PAY_DATE, 'RRRR-MM-DD-hh24:mm:ss') P_DATE
  		FROM MEMBER
		JOIN PAYHISTORY USING(MCODE)
		WHERE MID = #{userId}
  	</select>
  	
  	<select id="searchRevenueUser" parameterType="java.lang.String" resultType="_int">
  		SELECT COUNT(*)
  		FROM PAYHISTORY
		JOIN MEMBER USING(MCODE)
		WHERE MID = #{userId}
  	</select>
  	
  	<select id="withdrawalList" resultMap="withdrawalResultSet">
  		SELECT MID, MNAME, PRICE AS AMOUNT, ACCOUNT, TO_CHAR(WD_DATE, 'yyyy-MM-dd-hh24:mm:ss') AS WDDATE, WD_CODE
		FROM WITHDRAWAL
		JOIN MEMBER USING(MCODE)
		WHERE STATUS = 'N'
  	</select>
  	
  	<select id="withdrawalCount" resultType="hashmap">
  		SELECT (SELECT COUNT(*) FROM WITHDRAWAL WHERE TO_CHAR(WD_DATE) = TO_CHAR(SYSDATE) AND STATUS = 'N') TODAY, (SELECT COUNT(*) FROM WITHDRAWAL WHERE TO_CHAR(WD_DATE) = TO_CHAR(SYSDATE) AND STATUS = 'Y') SUCCESS
		FROM DUAL
  	</select>
  	
  	<select id="searchWithdrawal" parameterType="java.lang.String" resultMap="withdrawalResultSet">
  		SELECT MID, MNAME, PRICE AS AMOUNT, ACCOUNT, TO_CHAR(WD_DATE, 'yyyy-MM-dd-hh24:mm:ss') AS WDDATE, WD_CODE
		FROM WITHDRAWAL
		JOIN MEMBER USING(MCODE)
		WHERE MID = #{userId}
  	</select>
  	
  	<update id="approval" parameterType="_int">
  		UPDATE WITHDRAWAL SET STATUS = 'Y'
		WHERE WD_CODE = #{wdCode}
  	</update>
  	
  </mapper>