<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="BJBlackMember">
  	<resultMap type="BJBlackMember" id="BJBlackMemberResultSet">
      <result property="bjMember" column="BJ_MCODE"/>   
      <result property="blackMember" column="LIVE_MCODE"/>   
      <result property="blackMemberNickName" column="LIVE_NIC"/>  
      <result property="blackDate" column="BLACK_DATE"/>
      <result property="blackStatus" column="BLACK_STATUS"/>
   </resultMap>
   
   <insert id="blackMemberInsert">
   	insert into BLACKMEMBER values((SELECT MCODE FROM MEMBER WHERE MID = #{bjMember}), (SELECT MCODE FROM MEMBER WHERE M_NICKNAME = #{blackMember}), #{blackMember}, SYSDATE, 'Y')
   </insert>

   <select id="selectBlackMembers" resultMap="BJBlackMemberResultSet">
   	SELECT DISTINCT BJ_MCODE, LIVE_MCODE, LIVE_NIC, BLACK_DATE, BLACK_STATUS FROM BLACKMEMBER WHERE BJ_MCODE = (SELECT MCODE FROM MEMBER WHERE MID = (SELECT MCODE FROM JDBC WHERE V_JCODE =#{bjMember}))
   </select>
   
   
  </mapper>