<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BJPayList">
	<resultMap type="BJPayList" id="BJPayListResultSet">
		<id property="wd_code" column="WD_CODE" />
		<result property="mcode" column="MCODE" />
		<result property="price" column="PRICE" />
		<result property="wd_date" column="WD_DATE" />
		<result property="status" column="STATUS" />
		<result property="success_date" column="SUCCESS_DATE" />
		<result property="account" column="ACCOUNT" />
	</resultMap>
	<resultMap type="Expeach" id="ExpeachResultSet">
		<result property="from_mcode" column="FROM_MCODE" />
		<result property="to_mcode" column="TO_MCODE" />
		<result property="peachcount" column="PEACHCOUNT" />
		<result property="send_date" column="SEND_DATE" />
	</resultMap>
	<resultMap type="Subscribe" id="SubscribeResultSet">
		<result property="reader_mcode" column="READER_MCODE" />
		<result property="read_date" column="READ_DATE" />
		<result property="bj_mcode" column="BJ_MCODE" />
		<result property="reader_mid" column="MID" />
		<result property="reader_nic" column="NIC" />
		<result property="reader_num" column="READER_NUM" />
	</resultMap>
	<resultMap type="Black" id="BlackResultSet">
		<result property="bj_mcode" column="BJ_MCODE" />
		<result property="live_mcode" column="LIVE_MCODE" />
		<result property="live_nic" column="LIVE_NIC" />
		<result property="black_date" column="BLACK_DATE" />
		<result property="black_status" column="BLACK_STATUS" />
		<result property="black_count" column="BLACK_COUNT" />
	</resultMap>

	 <select id="selectPeach" resultType="_int" parameterType="java.lang.String">
	   	SELECT PEACH FROM MEMBER WHERE MCODE=#{mcode}
	 </select>
	 <select id="selectwdprice" resultType="_int" parameterType="java.lang.String">
	   	SELECT NVL(SUM(PRICE), 0)FROM WITHDRAWAL WHERE MCODE=#{mcode} AND STATUS='Y'
	 </select>
	 <insert id="insertBJPayList" >
	   	INSERT INTO WITHDRAWAL
	   	VALUES(#{mcode}, SEQ_WD_CODE.NEXTVAL, #{price}, SYSDATE, 'N', SYSDATE, #{account})
	 </insert>
	 <update id="updatePeach" >
   		UPDATE MEMBER SET PEACH = TO_NUMBER(#{peach_code}) WHERE MCODE = #{mcode}
   	 </update>
   	 <select id="selectWithdrawList" parameterType="java.lang.String" resultMap="BJPayListResultSet">
   	 	SELECT MCODE, WD_CODE, PRICE, TO_CHAR(WD_DATE, 'YYYY-MM-DD') WD_DATE, 
   	 	STATUS, TO_CHAR(SUCCESS_DATE, 'YYYY-MM-DD') SUCCESS_DATE, ACCOUNT 
   	 	FROM WITHDRAWAL WHERE MCODE = #{mcode} AND STATUS='Y' ORDER BY WD_DATE ASC
   	 </select>
   	 <select id="selectWithdrawAllList" parameterType="java.lang.String" resultMap="BJPayListResultSet">
   	 	SELECT  MCODE, WD_CODE, PRICE, TO_CHAR(WD_DATE, 'YYYY-MM-DD') WD_DATE, 
   	 	STATUS, TO_CHAR(SUCCESS_DATE, 'YYYY-MM-DD') SUCCESS_DATE, ACCOUNT 
   	 	FROM WITHDRAWAL WHERE MCODE = #{mcode} ORDER BY WD_DATE DESC
   	 </select>
   	 <select id="selectWDAllCount" parameterType="java.lang.String" resultType="hashmap">
   	 	SELECT COUNT(*) WDLIST, 
		(SELECT COUNT(*) FROM WITHDRAWAL WHERE  MCODE = #{mcode} AND STATUS='Y') WDSUCCESS, 
		(SELECT COUNT(*) FROM WITHDRAWAL WHERE  MCODE = #{mcode} AND STATUS='N') WDING,
		(SELECT COUNT(*) FROM WITHDRAWAL WHERE  MCODE = #{mcode} AND STATUS='A') WDFAIL
		FROM WITHDRAWAL
		WHERE MCODE = #{mcode}
		GROUP BY 2
   	 </select>
   	 <select id="selectProfitBjAllCount" parameterType="java.lang.String" resultType="hashmap">
   	 	SELECT COUNT(*) ProfitBj
		FROM EXPEACH
		WHERE TO_MCODE = #{mcode}
		GROUP BY 2
   	 </select>
   	 <select id="selectProfitBjAllList" parameterType="java.lang.String" resultMap="ExpeachResultSet">
   	 	SELECT (SELECT MID FROM MEMBER WHERE MCODE = E.FROM_MCODE) FROM_MCODE,
		(SELECT M_NICKNAME FROM MEMBER WHERE MCODE = E.FROM_MCODE) TO_MCODE, 
		E.PEACHCOUNT, 
		TO_CHAR(SEND_DATE, 'YYYY-MM-DD') SEND_DATE FROM EXPEACH E WHERE E.TO_MCODE = #{mcode}
   	 </select>
   	 <select id="selectProfitBjList" parameterType="java.lang.String" resultMap="ExpeachResultSet">
   	 	SELECT (SELECT MID FROM MEMBER WHERE MCODE = E.FROM_MCODE) FROM_MCODE,
		(SELECT M_NICKNAME FROM MEMBER WHERE MCODE = E.FROM_MCODE) TO_MCODE, 
		E.PEACHCOUNT, 
		TO_CHAR(SEND_DATE, 'YYYY-MM-DD') SEND_DATE FROM EXPEACH E WHERE E.TO_MCODE = #{mcode}
		ORDER BY E.SEND_DATE ASC
   	 </select>
   	 <select id="selectMyFanAllCount" parameterType="java.lang.String" resultType="hashmap">
   	 	SELECT COUNT(*) MYFAN
		FROM SUBSCRIBE
		WHERE BJ_MCODE = #{mcode}
		GROUP BY 2
   	 </select>
   	 <select id="selectMyFanAllList" parameterType="java.lang.String" resultMap="SubscribeResultSet">
   	 	SELECT S.READER_MCODE,
		TO_CHAR(S.READ_DATE, 'YYYY-MM-DD') READ_DATE,
		S.BJ_MCODE, (SELECT MID FROM MEMBER WHERE MCODE = S.READER_MCODE) MID,
		(SELECT M_NICKNAME FROM MEMBER WHERE MCODE = S.READER_MCODE) NIC
 		FROM SUBSCRIBE S WHERE S.BJ_MCODE = #{mcode} ORDER BY S.READ_DATE ASC
   	 </select>
   	 <select id="selectMyFanList" parameterType="java.lang.String" resultMap="SubscribeResultSet">
   	 	SELECT S.READER_MCODE,
		TO_CHAR(S.READ_DATE, 'YYYY-MM-DD') READ_DATE,
		S.BJ_MCODE, (SELECT MID FROM MEMBER WHERE MCODE = S.READER_MCODE) MID,
		(SELECT M_NICKNAME FROM MEMBER WHERE MCODE = S.READER_MCODE) NIC
 		FROM SUBSCRIBE S WHERE S.BJ_MCODE = #{mcode} ORDER BY S.READ_DATE ASC
   	 </select>
   	 <select id="BlackListAllCount" parameterType="java.lang.String" resultType="hashmap">
   	 	SELECT COUNT(DISTINCT LIVE_MCODE) BLACKLIST
   	 	FROM BLACKMEMBER WHERE BJ_MCODE=#{mcode} GROUP BY 2
   	 </select>
   	 <select id="selectBlackListAllList" parameterType="java.lang.String" resultMap="BlackResultSet">
   	 	SELECT DISTINCT LIVE_MCODE AS TEST, 
		(SELECT MID FROM MEMBER S WHERE S.MCODE = M.LIVE_MCODE) LIVE_MCODE, 
		TO_CHAR(MAX(M.BLACK_DATE), 'YYYY-MM-DD') BLACK_DATE, LIVE_NIC, 
		MAX(BLACK_STATUS) BLACK_STATUS, COUNT(LIVE_MCODE) BLACK_COUNT
		FROM BLACKMEMBER M WHERE BJ_MCODE=#{mcode}
		GROUP BY LIVE_MCODE, LIVE_NIC ORDER BY LIVE_MCODE ASC
   	 </select>

	<update id="UpdateBlackcancel" parameterType="java.lang.String">
		UPDATE BLACKMEMBER SET BLACK_STATUS = 'N' WHERE LIVE_MCODE = (SELECT MCODE FROM MEMBER WHERE MID = #{mId})
	</update>

</mapper>