<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Board">
	<resultMap type="Board" id="BoardResultSet">
	<id property="b_code" column="B_CODE"/>
	<result property="v_code" column="V_CODE"/>
	<result property="b_type" column="B_TYPE"/>
	<result property="b_title" column="B_TITLE"/>
	<result property="b_content" column="B_CONTENT"/>
	<result property="bwriter" column="BWRITER"/>
	<result property="b_create_date" column="B_CREATE_DATE"/>
	<result property="b_update_date" column="B_UPDATE_DATE"/>
	<result property="b_count" column="B_COUNT"/>
	<result property="b_status" column="B_STATUS"/>
	</resultMap>
	<!-- UPLOADFILE COLUMNS -->
  		<resultMap type="Boardfile" id="BoardFileResultSet" >
  			<id property="file_code" column="FILE_CODE"/>
  			<result property="from_code" column="FROM_CODE"/>
  			<result property="f_orname" column="F_ORNAME"/>
  			<result property="f_rename" column="F_RENAME"/>
  			<result property="filepath" column="FILEPATH"/>
  			<result property="f_mcode" column="F_MCODE"/>
  			<result property="upload_date" column="UPLOAD_DATE"/>
  		</resultMap>
  		
  		<resultMap type="Reply" id="ReplyResultSet" >
  			<result property="b_code" column="B_CODE"/>
  			<result property="r_code" column="R_CODE"/>
  			<result property="r_content" column="R_CONTENT"/>
  			<result property="r_writer" column="R_WRITER"/>
  			<result property="r_create_date" column="R_CREATE_DATE"/>
  			<result property="r_like" column="R_LIKE"/>
  		</resultMap>
  		
	<insert id="insertBoard">
		INSERT INTO BOARD
		VALUES(SEQ_BCODE.NEXTVAL||'myBoard',#{bwriter},'myBoard',#{b_title},#{b_content},#{bwriter},SYSDATE,SYSDATE,0,'Y')
	</insert>
	
	<insert id="insertBoardFile" parameterType="Boardfile">
		INSERT INTO UPLOADFILE
  		VALUES(SEQ_BCODE.CURRVAL||'myBoard', #{f_orname},#{f_rename},#{filepath},#{f_mcode},SYSDATE,SEQ_FILECODE.NEXTVAL)
	</insert>
	
	<!-- 방명록 insert -->
	<insert id="insertGuestBook">
		INSERT INTO BOARD
		VALUES(SEQ_BCODE.NEXTVAL,#{v_code},'GuestBook','null',#{b_content},#{bwriter},SYSDATE,SYSDATE,0,'Y')	
	</insert>
	
	<!-- 신고글 파일업로드 -->
	<insert id="reportFile">
		INSERT INTO UPLOADFILE
  		VALUES(NULL, #{ f_orname }, #{ f_rename }, #{ filepath }, #{ f_mcode }, SYSDATE, seq_filecode.nextval)
	</insert>
	
	<!-- 방송국 - 내 게시글 총 수 -->
	<select id="mbListTotal" resultType="_int">
		SELECT COUNT(*) TOTAL
		FROM BOARD
		WHERE B_TYPE = 'myBoard' AND BWRITER = #{ mId }
	</select>
	
	<!-- 방송국 - 내 게시글 목록 -->
	<select id="mbList" resultMap="BoardResultSet">
		SELECT *
		FROM BOARD
		WHERE B_TYPE = 'myBoard' AND BWRITER = #{ mId } AND B_STATUS = 'Y'
		ORDER BY B_CREATE_DATE DESC
	</select>	
	
	<!-- 방송국 - 내 게시판 상세보기 -->
	<select id="mbListDetail" resultMap="BoardResultSet">
		SELECT *
		FROM BOARD
		WHERE B_TYPE = 'myBoard' AND BWRITER = #{ bwriter } AND B_CODE = #{ b_code }
	</select>
	
	<!-- 방송국 - 내 게시판 상세보기(사진 ) -->
	<select id="mbListDetailP" resultMap="BoardFileResultSet">
		SELECT *
		FROM UPLOADFILE
		WHERE FROM_CODE = #{ from_code }
	</select>
	
	<!-- 방송국 - 내 게시판 글 삭제 -->
	<update id="mbListDelete">
		UPDATE BOARD
		SET B_STATUS = 'N'
		WHERE B_CODE = #{ b_code }
	</update>
	
	<!-- 방송국 - 방명록 목록 -->
	<select id="gList" resultMap="BoardResultSet">
		SELECT *
		FROM BOARD
		WHERE B_TYPE = 'GuestBook' AND V_CODE = #{ mId } AND B_STATUS = 'Y'
		ORDER BY B_CREATE_DATE DESC
	</select>
	
	<!-- 방송국 - 내 게시글 수정(글) -->
	<update id="BSmyBoardModify">
		UPDATE BOARD
		SET B_TITLE = #{ b_title }, B_CONTENT = #{ b_content }, B_UPDATE_DATE = SYSDATE
		WHERE B_CODE = #{ b_code }
	</update>
	
	<!-- 방송국 - 내 게시글 수정(사진) -->
	<update id="BSmyBoardModifyP" parameterType="Boardfile">
		UPDATE UPLOADFILE
		SET F_ORNAME = #{ f_orname }, F_RENAME = #{ f_rename }, FILEPATH = #{ filepath }, UPLOAD_DATE = SYSDATE
		WHERE FROM_CODE = #{ from_code }
	</update>
	
	<insert id="insertReply" parameterType="Reply">
		INSERT INTO REPLY VALUES(#{b_code}, SEQ_R_CODE.NEXTVAL, #{r_content}, #{r_writer}, SYSDATE, 0)
	</insert>
	
	<select id="selectReplyCount" parameterType="Board"  resultType="_int">
	SELECT COUNT(*) FROM REPLY WHERE B_CODE = #{b_code}
	</select>
	
	<select id="selectReplyList" parameterType="Board" resultMap="ReplyResultSet">
	SELECT B_CODE, R_CODE, R_CONTENT, R_WRITER, R_CREATE_DATE, R_LIKE FROM REPLY WHERE  B_CODE = #{b_code}	
	</select>
	
	<!-- 방송국 - 방명록 삭제 -->
	<update id="BSguestDelte">
		UPDATE BOARD
		SET B_STATUS = 'N'
		WHERE B_CODE = #{ b_code } AND B_TYPE = 'GuestBook'
	</update>
	
</mapper>