<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="QnA">

	<resultMap type="HelpMainVo" id="helpMainResultSet">
		<id property="b_code" column="B_CODE"/>
		
		<result property="v_code" column="V_CODE"/>
		<result property="b_type" column="B_TYPE"/>
		<result property="b_title" column="B_TITLE"/>
		<result property="b_content" column="B_CONTENT"/>
		<result property="bwriter" column="BWRITER"/>
		<result property="b_create_date" column="B_CREATE_DATE"/>
		<result property="b_update_date" column="B_UPDATE_DATE"/>
		<result property="b_count" column="B_COUNT"/>
		<result property="b_status" column="B_STATUS"/>
	</resultMap>
	
	
	<!-- 고객센터 메인화면(=자주묻는 질문) -->
    <select id="listAll" parameterType="java.lang.String" resultMap="helpMainResultSet" >
        SELECT B_CODE, B_TYPE, B_TITLE, B_CONTENT
		FROM BOARD
		WHERE B_TYPE = #{ b_type }
		ORDER BY B_CODE ASC
    </select>

	<!-- 자주묻는 질문 검색 -->
    <select id="sList" parameterType="java.lang.String" resultMap="helpMainResultSet" >
        SELECT B_TITLE, B_CONTENT, BWRITER
		FROM BOARD
		WHERE BWRITER = 'qna' AND (B_TITLE LIKE '%' || #{ word } || '%' OR B_CONTENT LIKE '%' || #{ word } || '%')
    </select>

	<!-- 1:1문의글 등록 -->
	<select id="personal">
		INSERT INTO BOARD
   		VALUES( seq_bcode.nextval || #{ bwriter }, NULL, #{ b_type }, #{ b_title }, #{ b_content }, #{ bwriter }, SYSDATE, SYSDATE, 1, 'Y')
	</select>
	
	<!-- 신고대상 아이디 체크 -->
	<select id="bullyIdCheck" parameterType="string" resultType="string">
		SELECT MID FROM MEMBER WHERE MID = #{ mId }
	</select>
	
	<!-- 신고글 등록 -->
	<select id="report">
		INSERT INTO BOARD
   		VALUES( seq_bcode.nextval || #{ bwriter }, NULL, 'report', #{ b_title }, #{ b_content }, #{ bwriter }, SYSDATE, SYSDATE, 1, 'Y')
	</select>
	
	<!-- 공지글 목록 -->
    <select id="nList" resultMap="helpMainResultSet" >
        SELECT *
		FROM BOARD
		WHERE B_TYPE = 'notice' AND B_STATUS = 'Y'
		ORDER BY B_UPDATE_DATE DESC
    </select>
    
    <!-- 총 공지 게시글 수 -->
    <select id="nListTotal" resultType="_int">
    	SELECT COUNT(*) TOTAL
		FROM BOARD
		WHERE B_TYPE = 'notice'
    </select>
    
	<!-- 공지글 상세보기 -->
    <select id="nListDetail" parameterType="java.lang.String" resultMap="helpMainResultSet" >
        SELECT B_CODE, B_TYPE, B_TITLE, B_CONTENT, BWRITER, B_UPDATE_DATE, B_COUNT, B_STATUS
		FROM BOARD
		WHERE B_TYPE = 'notice' AND B_STATUS = 'Y' AND B_CODE = #{ b_code }
    </select>		
    
    <!-- 게시글 조회수 올리기 -->
    <select id="updateCount" parameterType="java.lang.String" resultType="_int">
    	UPDATE BOARD 
    	SET B_COUNT=(SELECT B_COUNT FROM BOARD WHERE B_CODE = #{ b_code })+1 WHERE B_CODE = #{ b_code }
    </select>

	<insert id="singoInsert">
		INSERT INTO BOARD
		VALUES( seq_bcode.nextval || (SELECT MID FROM MEMBER WHERE M_NICKNAME = #{ bwriter }), NULL, #{ b_type }, #{ b_title }, #{ b_content }, (SELECT MID FROM MEMBER WHERE M_NICKNAME = #{ bwriter }), SYSDATE, SYSDATE, 1, 'Y')
	</insert>
	
	<!-- 공지글 쓰기 -->
	<insert id="helpnoticeWrite">
		INSERT INTO BOARD
   		VALUES( seq_bcode.nextval || 'notice', NULL, 'notice', #{ b_title }, #{ b_content }, '모두의 TV', SYSDATE, SYSDATE, 0, 'Y')
	</insert>
	
	<!-- 공지글 수정하기 -->
	<update id="helpnoticeModify">
		UPDATE BOARD
		SET B_TITLE = #{ b_title }, B_CONTENT = #{ b_content }, B_UPDATE_DATE = SYSDATE
		WHERE B_CODE = #{ b_code }
	</update>
	
	<!-- 공지글 삭제하기 -->
	<update id="goDeleteNotice">
		UPDATE BOARD
		SET B_STATUS = 'N'
		WHERE B_CODE = #{ b_code } AND B_TYPE = 'notice'
	</update>
	
</mapper>