<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="QnA">

	<resultMap type="HelpMainVo" id="helpMainResultSet">
		<id property="b_code" column="B_CODE"/>
		
		<result property="v_code" column="V_CODE"/>
		<result property="b_type" column="B_TYPE"/>
		<result property="b_title" column="B_TITLE"/>
		<result property="b_content" column="B_CONTENT"/>
		<result property="bwriter" column="BWRITER"/>
		<result property="b_create_date" column="B_CREATE_DATE"/>
		<result property="b_update_date" column="B_UPDATE_DATE"/>
		<result property="b_count" column="B_COUNT"/>
		<result property="b_status" column="B_STATUS"/>
	</resultMap>
	
	
	<!-- 고객센터 메인화면(=자주묻는 질문) -->
    <select id="listAll" parameterType="java.lang.String" resultMap="helpMainResultSet" >
        SELECT B_CODE, B_TYPE, B_TITLE, B_CONTENT
		FROM BOARD
		WHERE B_TYPE = #{ b_type }
		ORDER BY B_CODE ASC
    </select>

	<!-- 자주묻는 질문 검색 -->
    <select id="sList" parameterType="java.lang.String" resultMap="helpMainResultSet" >
        SELECT B_TITLE, B_CONTENT, BWRITER
		FROM BOARD
		WHERE BWRITER = '관리자' AND B_TITLE LIKE '%' || #{ word } || '%'
    </select>




</mapper>