<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="JDBC1">
	<resultMap type="JDBC1" id="JDBCResultSet" >
  			<id property="mid" column="MCODE"/>
  			<result property="jdbc_name" column="JDBC_NAME"/>
  			<result property="jdbc_introduce" column="JDBC_INTRODUCE"/>
  			<result property="jdbc_interest" column="JDBC_INTEREST"/>
  			<result property="guest_book" column="GUEST_BOOK"/>
  			<result property="visitor" column="VISITOR"/>
  		</resultMap>
  		<select id="selectJDBCstation" parameterType="JDBC1" resultMap="JDBCResultSet">
  			SELECT * FROM JDBCSTATION WHERE MID=#{mid}
  		</select>
  		<insert id="insertJDBCstation">
  			INSERT INTO JDBCSTATION
  			VALUES(#{mid},#{jdbc_name},#{jdbc_introduce},#{jdbc_interest},NULL,0)
  		</insert>
  		
  		<update id="updateJDBCstation">
  			UPDATE JDBCSTATION
  			SET JDBC_NAME=#{jdbc_name}, JDBC_INTRODUCE=#{jdbc_introduce},JDBC_INTEREST=#{jdbc_interest}
  			WHERE MID=#{mid}
  		</update>
</mapper>