<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="JDBC1">
	<resultMap type="JDBC1" id="JDBCResultSet" >
  			<id property="mid" column="MID"/>
  			<result property="jdbc_name" column="JDBC_NAME"/>
  			<result property="jdbc_introduce" column="JDBC_INTRODUCE"/>
  			<result property="jdbc_interest" column="JDBC_INTEREST"/>
  			<result property="visitor" column="VISITOR"/>
  		</resultMap>
  		<!-- UPLOADFILE COLUMNS -->
  		<resultMap type="JDBClogo" id="JDBCLogoResultSet" >
  			<id property="file_code" column="FILE_CODE"/>
  			<result property="from_code" column="FROM_CODE"/>
  			<result property="f_orname" column="F_ORNAME"/>
  			<result property="f_rename" column="F_RENAME"/>
  			<result property="filepath" column="FILEPATH"/>
  			<result property="f_mcode" column="F_MCODE"/>
  			<result property="upload_date" column="UPLOAD_DATE"/>
  		</resultMap>
  		<select id="selectJDBCstation" parameterType="JDBC1" resultMap="JDBCResultSet">
  			SELECT * FROM JDBCSTATION WHERE MID=#{mid}
  		</select>
  		<!-- <insert id="insertJDBCstation">
  			INSERT INTO JDBCSTATION
  			VALUES(#{mid},#{jdbc_name},#{jdbc_introduce},#{jdbc_interest},0)
  		</insert> -->
  		
  		<update id="updateJDBCstation">
  			UPDATE JDBCSTATION
  			SET JDBC_NAME=#{jdbc_name}, JDBC_INTRODUCE=#{jdbc_introduce},JDBC_INTEREST=#{jdbc_interest}
  			WHERE MID=#{mid}
  		</update>
  		<select id="selectJDBCLogo" parameterType="JDBClogo" resultMap="JDBCLogoResultSet">
  			SELECT * FROM UPLOADFILE
  			WHERE F_MCODE=#{f_mcode}
  			AND FROM_CODE='JDBCLogo'
  		</select>
  		<insert id="insertJDBCLogo">
  			INSERT INTO UPLOADFILE
  			VALUES(#{from_code},#{f_orname},#{f_rename},#{filepath},#{f_mcode},SYSDATE,SEQ_FILECODE.NEXTVAL)
  		</insert>
  		<update id="updateJDBCLogo">
  			UPDATE UPLOADFILE
  			SET F_ORNAME=#{f_orname}, F_RENAME=#{f_rename},FILEPATH=#{filepath},UPLOAD_DATE=SYSDATE
  			WHERE F_MCODE=#{f_mcode}
  		</update>
  		<select id="selectForShow" parameterType="java.lang.String" resultMap="JDBCResultSet">
  			SELECT * 
  			FROM JDBCSTATION
  			WHERE MID=#{mId}
  		</select>
  		<select id="selectJDBCLogoForShow" parameterType="java.lang.String" resultMap="JDBCLogoResultSet">
  			SELECT * FROM UPLOADFILE
  			WHERE F_MCODE=#{mId}
  			AND FROM_CODE='JDBCLogo'
  		</select>
  		
</mapper>