<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="LiveBJ">
		<insert id="insertBSCotent" parameterType="LiveBJ">
		INSERT INTO JDBC VALUES (NULL ,#{bsTitle},#{bsContent},SYSDATE,0,#{cate},#{mid},SEQ_JDBCCODE.NEXTVAL)
  		</insert>
  		
  		<insert id="insertBSTitleImg" parameterType="JDBClogo">
  		INSERT INTO UPLOADFILE VALUES (#{from_code},#{f_orname},#{f_rename},#{filepath},#{f_mcode},SYSDATE,SEQ_FILECODE.NEXTVAL)
  		</insert>
</mapper>