<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="LiveBJ">
		<resultMap type="LiveBJ" id="allBJSET" >
  			<id property="jcode" column="V_JCODE"/>
  			<result property="introduce" column="INTRODUCE"/>
  			<result property="bsTitle" column="V_TITLE"/>
  			<result property="bsContent" column="V_CONTENT"/>
  			<result property="starttime" column="V_STARTTIME"/>
  			<result property="like" column="V_LIKE"/>
  			<result property="cate" column="V_CATE"/>
  			<result property="mid" column="MCODE"/>
  			<result property="f_rename" column="F_RENAME"/>
  			<result property="v_state" column="V_STATE"/>
  			<result property="v_href" column="V_HREF"/>
  			<result property="v_viewers" column="V_VIEWERS"/>
  			<result property="nickname" column="M_NICKNAME"/>
  		</resultMap>
		<!-- <resultMap type="LiveBJ" id="allBJSET" >
			<id property="jcode" column="V_JCODE"/>
  			<result property="introduce" column="INTRODUCE"/>
  			<result property="bsTitle" column="V_TITLE"/>
  			<result property="bsContent" column="V_CONTENT"/>
  			<result property="starttime" column="V_STARTTIME"/>
  			<result property="like" column="V_LIKE"/>
  			<result property="cate" column="V_CATE"/>
  			<result property="mid" column="MCODE"/>
  			<result property="f_rename" column="F_RENAME"/>
  			<result property="v_state" column="V_STATE"/>
  			<result property="v_href" column="V_HREF"/>
  			<result property="nickname" column="M_NICKNAME"/>
  			<result property="v_viewers" column="V_VIEWERS"/>
  		</resultMap>  -->
  		
  		<!-- 시청자가 실시간 방송 정보가저오기 -->
  		<select id='JDBCInfo' parameterType="String" resultMap='allBJSET'>
  		SELECT J.INTRODUCE,J.V_TITLE,J.V_CONTENT,J.V_STARTTIME,J.V_LIKE,J.V_CATE,J.MCODE,J.V_JCODE,J.V_STATE,J.V_HREF,J.V_VIEWERS,U.F_RENAME,M.M_NICKNAME FROM JDBC J JOIN MEMBER M ON(J.MCODE=M.MID) JOIN UPLOADFILE U ON(U.F_MCODE=J.MCODE)  WHERE U.FROM_CODE='BSTitleImg' AND J.V_JCODE=U.FILE_CODE AND J.V_HREF=#{href3} AND J.V_STATE ='Y'
  		</select>
  		
  		<!-- bj가 실시간 방송 정보가저오기 -->
  		<select id='JDBCInfo2' parameterType="String" resultMap='allBJSET'>
  		SELECT J.INTRODUCE,J.V_TITLE,J.V_CONTENT,J.V_STARTTIME,J.V_LIKE,J.V_CATE,J.MCODE,J.V_JCODE,J.V_STATE,J.V_HREF,J.V_VIEWERS,U.F_RENAME,M.M_NICKNAME FROM JDBC J JOIN MEMBER M ON(J.MCODE=M.MID) JOIN UPLOADFILE U ON(U.F_MCODE=J.MCODE)  WHERE U.FROM_CODE='BSTitleImg' AND J.V_JCODE=U.FILE_CODE AND J.MCODE=#{mid} AND V_JCODE = #{jcode}
  		</select>

		<select id="selectBjJcode" parameterType="LiveBJ" resultType="string">
		SELECT V_JCODE FROM JDBC WHERE mcode = #{mid} and V_TITLE = #{bsTitle} and V_CONTENT = #{bsContent} and V_CATE = #{cate}
		</select>
		
		<!-- 방송시작 인서트 -->
		<insert id="insertBSCotent" parameterType="LiveBJ">
		INSERT INTO JDBC VALUES (NULL ,#{bsTitle},#{bsContent},SYSDATE,null,#{cate},#{mid},SEQ_JDBCCODE.NEXTVAL,'N',NULL, 0)
  		</insert>
  		
  		<insert id="insertBSTitleImg" parameterType="JDBClogo">
  		INSERT INTO UPLOADFILE VALUES (#{from_code},#{f_orname},#{f_rename},#{filepath},#{f_mcode},SYSDATE,SEQ_JDBCCODE.CURRVAL)
  		</insert>
  		<!-- 모든bj 불러오기 -->
  		<!-- <select id='allBJ' resultMap='allBJSET'>
		SELECT J.INTRODUCE,J.V_TITLE,J.V_CONTENT,J.V_STARTTIME,J.V_LIKE,J.V_CATE,J.MCODE,J.V_JCODE,J.V_STATE,J.V_HREF,J.V_VIEWERS,U.F_RENAME,M.M_NICKNAME FROM JDBC J JOIN MEMBER M ON(J.MCODE=M.MID) JOIN UPLOADFILE U ON(U.F_MCODE=J.MCODE)  WHERE U.FROM_CODE='BSTitleImg' AND J.V_JCODE=U.FILE_CODE AND J.V_STATE='Y'
  		</select> -->
  		<select id="allBJId">
  		SELECT MCODE FROM JDBC WHERE V_STATE = 'Y'
  		</select>
  		<!-- 메인페이지 -->
  		<select id='allBJ' resultMap='allBJSET'>
  		SELECT J.INTRODUCE,J.V_TITLE,J.V_CONTENT,TO_CHAR(J.V_STARTTIME,'HH24:MI') V_STARTTIME,J.V_CATE,J.MCODE,J.V_JCODE,J.V_HREF,J.V_VIEWERS,U.F_RENAME,(SELECT COUNT(*) FROM SUBSCRIBE S WHERE S.BJ_MCODE=J.MCODE) V_LIKE ,M.M_NICKNAME 
		FROM JDBC J 	
		JOIN MEMBER M ON(J.MCODE=M.MID) 
		JOIN UPLOADFILE U ON(U.F_MCODE=J.MCODE) 
		WHERE U.FROM_CODE='BSTitleImg' 
		AND J.V_JCODE=U.FILE_CODE 
		AND J.V_STATE='Y' 
		ORDER BY V_VIEWERS DESC
  		</select>
  		
  		<select id='mainTopBJ' resultMap='allBJSET'>
  		SELECT B.INTRODUCE,B.V_TITLE,B.V_CONTENT,B.V_STARTTIME,B.V_CATE,B.MCODE,B.V_JCODE,B.V_HREF,B.V_VIEWERS,B.F_RENAME, B.V_LIKE ,B.M_NICKNAME 
		from (SELECT J.INTRODUCE,J.V_TITLE,J.V_CONTENT,TO_CHAR(J.V_STARTTIME,'HH24:MI') V_STARTTIME,J.V_CATE,J.MCODE,J.V_JCODE,J.V_HREF,J.V_VIEWERS,U.F_RENAME,(SELECT COUNT(*) FROM SUBSCRIBE S WHERE S.BJ_MCODE=(select mcode from member where mid =J.MCODE)) V_LIKE ,M.M_NICKNAME 
		FROM JDBC J
		JOIN MEMBER M ON(J.MCODE=M.MID)
		JOIN UPLOADFILE U ON(U.F_MCODE=J.MCODE) 
		WHERE U.FROM_CODE='BSTitleImg'
		AND J.V_JCODE=U.FILE_CODE AND J.V_STATE='Y'
		ORDER BY V_VIEWERS DESC)B
		where ROWNUM between 1 and 12
  		</select>
  		
  		<!-- 구독자순 불러오기 -->
  		<select id='BestBJ' resultMap='allBJSET'>
		SELECT J.INTRODUCE,J.V_TITLE,J.V_CONTENT,J.V_STARTTIME,J.V_CATE,J.MCODE,J.V_JCODE,J.V_HREF,J.V_VIEWERS,U.F_RENAME,(SELECT COUNT(*) FROM SUBSCRIBE S WHERE S.BJ_MCODE=(select mcode from member where mid =J.MCODE)) V_LIKE ,M.M_NICKNAME 
		FROM JDBC J 	
		JOIN MEMBER M ON(J.MCODE=M.MID) 
		JOIN UPLOADFILE U ON(U.F_MCODE=J.MCODE) 
		WHERE U.FROM_CODE='BSTitleImg' 
		AND J.V_JCODE=U.FILE_CODE AND J.V_STATE='Y' 
		and rownum between 1 and 12
		ORDER BY V_LIKE DESC		
  		</select>
  		<!-- 추천수 불러오기 -->
		<select id='UpBJ' resultMap='allBJSET'>
  		SELECT J.INTRODUCE,J.V_TITLE,J.V_CONTENT,J.V_STARTTIME,J.V_LIKE,J.V_CATE,J.MCODE,J.V_JCODE,J.V_STATE,J.V_HREF,J.V_VIEWERS,U.F_RENAME,M.M_NICKNAME FROM JDBC J JOIN MEMBER M ON(J.MCODE=M.MID) JOIN UPLOADFILE U ON(U.F_MCODE=J.MCODE) WHERE U.FROM_CODE='BSTitleImg' AND J.V_JCODE=U.FILE_CODE AND J.V_STATE='Y' ORDER BY J.V_LIKE DESC
  		</select>
  		<!-- 먹방 불러오기 -->
  		<select id='Eat' resultMap='allBJSET'>
		SELECT J.INTRODUCE,J.V_TITLE,J.V_CONTENT,J.V_STARTTIME,J.V_LIKE,J.V_CATE,J.MCODE,J.V_JCODE,J.V_STATE,J.V_HREF,J.V_VIEWERS,U.F_RENAME,M.M_NICKNAME FROM JDBC J JOIN MEMBER M ON(J.MCODE=M.MID) JOIN UPLOADFILE U ON(U.F_MCODE=J.MCODE) WHERE U.FROM_CODE='BSTitleImg' AND J.V_JCODE=U.FILE_CODE AND J.V_STATE='Y' AND J.V_CATE='먹방'  order by J.V_VIEWERS desc  		
		</select>
		
		<select id='EatInfo' parameterType="String" resultMap='allBJSET'>
		SELECT J.INTRODUCE,J.V_TITLE,J.V_CONTENT,TO_CHAR(J.V_STARTTIME,'HH24:MI')V_STARTTIME,(SELECT COUNT(*) FROM SUBSCRIBE WHERE BJ_MCODE=(SELECT MCODE FROM MEMBER WHERE MID= #{mid}))V_LIKE,J.V_CATE,J.MCODE,J.V_JCODE,J.V_STATE,J.V_HREF,J.V_VIEWERS,U.F_RENAME,M.M_NICKNAME 
		FROM JDBC J JOIN MEMBER M ON(J.MCODE=M.MID) 
		JOIN UPLOADFILE U ON(U.F_MCODE=J.MCODE) 
		WHERE U.FROM_CODE='BSTitleImg' 
		AND J.V_JCODE=U.FILE_CODE 
		AND J.V_STATE='Y' 
		AND J.V_CATE='먹방'
		and J.MCODE=#{mid}
		</select>
		
  		<!-- 게임 불러오기 -->
  		<select id='Game' resultMap='allBJSET'>
		SELECT J.INTRODUCE,J.V_TITLE,J.V_CONTENT,J.V_STARTTIME,J.V_LIKE,J.V_CATE,J.MCODE,J.V_JCODE,J.V_STATE,J.V_HREF,J.V_VIEWERS,U.F_RENAME,M.M_NICKNAME FROM JDBC J JOIN MEMBER M ON(J.MCODE=M.MID) JOIN UPLOADFILE U ON(U.F_MCODE=J.MCODE) WHERE U.FROM_CODE='BSTitleImg' AND J.V_JCODE=U.FILE_CODE AND J.V_STATE='Y' AND J.V_CATE='게임' order by J.V_VIEWERS desc 		
		</select>
		<select id='GameInfo' parameterType="String" resultMap='allBJSET'>
		SELECT J.INTRODUCE,J.V_TITLE,J.V_CONTENT,TO_CHAR(J.V_STARTTIME,'HH24:MI')V_STARTTIME,(SELECT COUNT(*) FROM SUBSCRIBE WHERE BJ_MCODE=(SELECT MCODE FROM MEMBER WHERE MID= #{mid}))V_LIKE,J.V_CATE,J.MCODE,J.V_JCODE,J.V_STATE,J.V_HREF,J.V_VIEWERS,U.F_RENAME,M.M_NICKNAME 
		FROM JDBC J JOIN MEMBER M ON(J.MCODE=M.MID) 
		JOIN UPLOADFILE U ON(U.F_MCODE=J.MCODE) 
		WHERE U.FROM_CODE='BSTitleImg' 
		AND J.V_JCODE=U.FILE_CODE 
		AND J.V_STATE='Y' 
		AND J.V_CATE='게임'
		and J.MCODE=#{mid}
		</select>
		
  		<!-- 이빨까기 불러오기 -->
  		<select id='Talk' resultMap='allBJSET'>
  		SELECT J.INTRODUCE,J.V_TITLE,J.V_CONTENT,J.V_STARTTIME,J.V_LIKE,J.V_CATE,J.MCODE,J.V_JCODE,J.V_STATE,J.V_HREF,J.V_VIEWERS,U.F_RENAME,M.M_NICKNAME FROM JDBC J JOIN MEMBER M ON(J.MCODE=M.MID) JOIN UPLOADFILE U ON(U.F_MCODE=J.MCODE) WHERE U.FROM_CODE='BSTitleImg' AND J.V_JCODE=U.FILE_CODE AND J.V_STATE='Y' AND J.V_CATE='토크/캠방' order by J.V_VIEWERS desc
  		</select>
  		
  		<select id='TalkInfo' parameterType="String" resultMap='allBJSET'>
		SELECT J.INTRODUCE,J.V_TITLE,J.V_CONTENT,TO_CHAR(J.V_STARTTIME,'HH24:MI')V_STARTTIME,(SELECT COUNT(*) FROM SUBSCRIBE WHERE BJ_MCODE=(SELECT MCODE FROM MEMBER WHERE MID= #{mid}))V_LIKE,J.V_CATE,J.MCODE,J.V_JCODE,J.V_STATE,J.V_HREF,J.V_VIEWERS,U.F_RENAME,M.M_NICKNAME 
		FROM JDBC J JOIN MEMBER M ON(J.MCODE=M.MID) 
		JOIN UPLOADFILE U ON(U.F_MCODE=J.MCODE) 
		WHERE U.FROM_CODE='BSTitleImg' 
		AND J.V_JCODE=U.FILE_CODE 
		AND J.V_STATE='Y' 
		AND J.V_CATE='토크/캠방'
		and J.MCODE=#{mid}
		</select>
  		
  		<!-- 스포츠 불러오기 -->
  		<select id='Sport' resultMap='allBJSET'>
  		SELECT J.INTRODUCE,J.V_TITLE,J.V_CONTENT,J.V_STARTTIME,J.V_LIKE,J.V_CATE,J.MCODE,J.V_JCODE,J.V_STATE,J.V_HREF,J.V_VIEWERS,U.F_RENAME,M.M_NICKNAME FROM JDBC J JOIN MEMBER M ON(J.MCODE=M.MID) JOIN UPLOADFILE U ON(U.F_MCODE=J.MCODE) WHERE U.FROM_CODE='BSTitleImg' AND J.V_JCODE=U.FILE_CODE AND J.V_STATE='Y' AND J.V_CATE='스포츠'  order by J.V_VIEWERS desc
  		</select>
  		
  		<select id='SportInfo' parameterType="String" resultMap='allBJSET'>
		SELECT J.INTRODUCE,J.V_TITLE,J.V_CONTENT,TO_CHAR(J.V_STARTTIME,'HH24:MI')V_STARTTIME,(SELECT COUNT(*) FROM SUBSCRIBE WHERE BJ_MCODE=(SELECT MCODE FROM MEMBER WHERE MID= #{mid}))V_LIKE,J.V_CATE,J.MCODE,J.V_JCODE,J.V_STATE,J.V_HREF,J.V_VIEWERS,U.F_RENAME,M.M_NICKNAME 
		FROM JDBC J JOIN MEMBER M ON(J.MCODE=M.MID) 
		JOIN UPLOADFILE U ON(U.F_MCODE=J.MCODE) 
		WHERE U.FROM_CODE='BSTitleImg' 
		AND J.V_JCODE=U.FILE_CODE 
		AND J.V_STATE='Y' 
		AND J.V_CATE='스포츠'
		and J.MCODE=#{mid}
		</select>
  		
  		<!-- 음악 불러오기 -->
  		<select id='Music' resultMap='allBJSET'>
  		SELECT J.INTRODUCE,J.V_TITLE,J.V_CONTENT,J.V_STARTTIME,J.V_LIKE,J.V_CATE,J.MCODE,J.V_JCODE,J.V_STATE,J.V_HREF,J.V_VIEWERS,U.F_RENAME,M.M_NICKNAME FROM JDBC J JOIN MEMBER M ON(J.MCODE=M.MID) JOIN UPLOADFILE U ON(U.F_MCODE=J.MCODE) WHERE U.FROM_CODE='BSTitleImg' AND J.V_JCODE=U.FILE_CODE AND J.V_STATE='Y' AND J.V_CATE='음악'
  		</select>
  		
  		<select id='MusicInfo' parameterType="String" resultMap='allBJSET'>
		SELECT J.INTRODUCE,J.V_TITLE,J.V_CONTENT,TO_CHAR(J.V_STARTTIME,'HH24:MI')V_STARTTIME,(SELECT COUNT(*) FROM SUBSCRIBE WHERE BJ_MCODE=(SELECT MCODE FROM MEMBER WHERE MID= #{mid}))V_LIKE,J.V_CATE,J.MCODE,J.V_JCODE,J.V_STATE,J.V_HREF,J.V_VIEWERS,U.F_RENAME,M.M_NICKNAME 
		FROM JDBC J JOIN MEMBER M ON(J.MCODE=M.MID) 
		JOIN UPLOADFILE U ON(U.F_MCODE=J.MCODE) 
		WHERE U.FROM_CODE='BSTitleImg' 
		AND J.V_JCODE=U.FILE_CODE 
		AND J.V_STATE='Y' 
		AND J.V_CATE='음악'
		and J.MCODE=#{mid}
		</select>
  		
  		<!-- 기타불러오기 -->
  		<select id='etc' resultMap='allBJSET'>
  		SELECT J.INTRODUCE,J.V_TITLE,J.V_CONTENT,J.V_STARTTIME,J.V_LIKE,J.V_CATE,J.MCODE,J.V_JCODE,J.V_STATE,J.V_HREF,J.V_VIEWERS,U.F_RENAME,M.M_NICKNAME FROM JDBC J JOIN MEMBER M ON(J.MCODE=M.MID) JOIN UPLOADFILE U ON(U.F_MCODE=J.MCODE) WHERE U.FROM_CODE='BSTitleImg' AND J.V_JCODE=U.FILE_CODE AND J.V_STATE='Y' AND J.V_CATE='기타'
  		</select>
  		
  		<select id='etcInfo' parameterType="String" resultMap='allBJSET'>
		SELECT J.INTRODUCE,J.V_TITLE,J.V_CONTENT,TO_CHAR(J.V_STARTTIME,'HH24:MI')V_STARTTIME,(SELECT COUNT(*) FROM SUBSCRIBE WHERE BJ_MCODE=(SELECT MCODE FROM MEMBER WHERE MID= #{mid}))V_LIKE,J.V_CATE,J.MCODE,J.V_JCODE,J.V_STATE,J.V_HREF,J.V_VIEWERS,U.F_RENAME,M.M_NICKNAME 
		FROM JDBC J JOIN MEMBER M ON(J.MCODE=M.MID) 
		JOIN UPLOADFILE U ON(U.F_MCODE=J.MCODE) 
		WHERE U.FROM_CODE='BSTitleImg' 
		AND J.V_JCODE=U.FILE_CODE 
		AND J.V_STATE='Y' 
		AND J.V_CATE='기타'
		and J.MCODE=#{mid}
		</select>
  		
  		<select id='Gudock' resultMap='allBJSET'>
  		SELECT INTRODUCE, V_TITLE, V_CONTENT, V_STARTTIME, V_LIKE, V_CATE, MCODE, V_JCODE, V_STATE, V_HREF, J.V_VIEWERS FROM JDBC J WHERE J.MCODE = (SELECT MID FROM MEMBER WHERE MCODE = #{mId}) AND J.V_STATE = 'Y'
  		</select>
  		<select id='GudockInfo' resultMap='allBJSET'>
  		SELECT J.INTRODUCE,J.V_TITLE,J.V_CONTENT,TO_CHAR(J.V_STARTTIME,'HH24:MI')V_STARTTIME,(SELECT COUNT(*) FROM SUBSCRIBE WHERE BJ_MCODE=(SELECT MCODE FROM MEMBER WHERE MID= #{mid}))V_LIKE,J.V_CATE,J.MCODE,J.V_JCODE,J.V_STATE,J.V_HREF,J.V_VIEWERS,U.F_RENAME,M.M_NICKNAME 
		FROM JDBC J JOIN MEMBER M ON(J.MCODE=M.MID) 
		JOIN UPLOADFILE U ON(U.F_MCODE=J.MCODE) 
		WHERE U.FROM_CODE='BSTitleImg' 
		AND J.V_JCODE=U.FILE_CODE 
		AND J.V_STATE='Y' 
		and J.MCODE=#{mid}
		</select>
  		<!-- jcode 추가 -->
  		<update id="startBrod" parameterType="LiveBJ">
  		UPDATE JDBC SET V_STATE='Y', V_HREF=#{v_href} WHERE MCODE=#{mid} AND V_JCODE=#{jcode}
  		</update>
  		
  		<update id="insertViewer" parameterType="LiveBJ">
  		UPDATE JDBC SET V_VIEWERS=#{v_viewers} WHERE MCODE=#{mid} AND V_STATE = 'Y'
  		</update>
		
		<select id="selectViewers"  resultType="_int">
		SELECT V_VIEWERS FROM JDBC WHERE MCODE=#{mid} AND V_STATE = 'Y'
		</select>
		<!-- 방종하면 시작시간이 종료시간으로 바뀜 할까?  V_STARTTIME = SYSDATE -->
		<update id="bangjong" parameterType="LiveBJ">
  		UPDATE JDBC SET V_STATE='N', V_LIKE = SYSDATE, V_VIEWERS = #{v_viewers}  WHERE MCODE = #{mid} AND V_STATE = 'Y'
  		</update>
  		
  		<select id='RankGame' resultMap='allBJSET'>
		SELECT C.INTRODUCE,C.V_TITLE,C.V_CONTENT,C.V_STARTTIME,C.V_LIKE,C.V_CATE,C.MCODE,C.V_JCODE,C.V_STATE,C.V_HREF,C.V_VIEWERS, C.F_RENAME, C.M_NICKNAME FROM (SELECT J.INTRODUCE,J.V_TITLE,J.V_CONTENT,J.V_STARTTIME,J.V_LIKE,J.V_CATE,J.MCODE,J.V_JCODE,J.V_STATE,J.V_HREF,J.V_VIEWERS,U.F_RENAME,M.M_NICKNAME FROM JDBC J JOIN MEMBER M ON(J.MCODE=M.MID) JOIN UPLOADFILE U ON(U.F_MCODE=J.MCODE) WHERE U.FROM_CODE='BSTitleImg' AND J.V_JCODE=U.FILE_CODE AND J.V_CATE='게임'ORDER BY V_VIEWERS DESC) C WHERE ROWNUM between 1 and 5 ORDER BY rownum ASC
  		</select>
  		
  		<select id='RankEat' resultMap='allBJSET'>
		SELECT C.INTRODUCE,C.V_TITLE,C.V_CONTENT,C.V_STARTTIME,C.V_LIKE,C.V_CATE,C.MCODE,C.V_JCODE,C.V_STATE,C.V_HREF,C.V_VIEWERS, C.F_RENAME, C.M_NICKNAME FROM (SELECT J.INTRODUCE,J.V_TITLE,J.V_CONTENT,J.V_STARTTIME,J.V_LIKE,J.V_CATE,J.MCODE,J.V_JCODE,J.V_STATE,J.V_HREF,J.V_VIEWERS,U.F_RENAME,M.M_NICKNAME FROM JDBC J JOIN MEMBER M ON(J.MCODE=M.MID) JOIN UPLOADFILE U ON(U.F_MCODE=J.MCODE) WHERE U.FROM_CODE='BSTitleImg' AND J.V_JCODE=U.FILE_CODE AND J.V_CATE='먹방'ORDER BY V_VIEWERS DESC) C WHERE ROWNUM between 1 and 5 ORDER BY rownum ASC
  		</select>
  		
  		<select id='RankTalk' resultMap='allBJSET'>
		SELECT C.INTRODUCE,C.V_TITLE,C.V_CONTENT,C.V_STARTTIME,C.V_LIKE,C.V_CATE,C.MCODE,C.V_JCODE,C.V_STATE,C.V_HREF,C.V_VIEWERS, C.F_RENAME, C.M_NICKNAME FROM (SELECT J.INTRODUCE,J.V_TITLE,J.V_CONTENT,J.V_STARTTIME,J.V_LIKE,J.V_CATE,J.MCODE,J.V_JCODE,J.V_STATE,J.V_HREF,J.V_VIEWERS,U.F_RENAME,M.M_NICKNAME FROM JDBC J JOIN MEMBER M ON(J.MCODE=M.MID) JOIN UPLOADFILE U ON(U.F_MCODE=J.MCODE) WHERE U.FROM_CODE='BSTitleImg' AND J.V_JCODE=U.FILE_CODE AND J.V_CATE='토크/캠방'ORDER BY V_VIEWERS DESC) C WHERE ROWNUM between 1 and 5 ORDER BY rownum ASC
  		</select>
  		
  		<select id='RankSport' resultMap='allBJSET'>
		SELECT C.INTRODUCE,C.V_TITLE,C.V_CONTENT,C.V_STARTTIME,C.V_LIKE,C.V_CATE,C.MCODE,C.V_JCODE,C.V_STATE,C.V_HREF,C.V_VIEWERS, C.F_RENAME, C.M_NICKNAME FROM (SELECT J.INTRODUCE,J.V_TITLE,J.V_CONTENT,J.V_STARTTIME,J.V_LIKE,J.V_CATE,J.MCODE,J.V_JCODE,J.V_STATE,J.V_HREF,J.V_VIEWERS,U.F_RENAME,M.M_NICKNAME FROM JDBC J JOIN MEMBER M ON(J.MCODE=M.MID) JOIN UPLOADFILE U ON(U.F_MCODE=J.MCODE) WHERE U.FROM_CODE='BSTitleImg' AND J.V_JCODE=U.FILE_CODE AND J.V_CATE='스포츠'ORDER BY V_VIEWERS DESC) C WHERE ROWNUM between 1 and 5 ORDER BY rownum ASC
  		</select>
  		
  		<select id="selectCount" parameterType="string" resultType="_int">
  		SELECT COUNT(*)
		FROM(SELECT J.INTRODUCE,J.V_TITLE,J.V_CONTENT,J.V_STARTTIME,J.V_LIKE,J.V_CATE,J.MCODE,J.V_JCODE,J.V_STATE,J.V_HREF,J.V_VIEWERS,U.F_RENAME,M.M_NICKNAME FROM JDBC J JOIN MEMBER M ON(J.MCODE=M.MID) JOIN UPLOADFILE U ON(U.F_MCODE=J.MCODE) WHERE U.FROM_CODE='BSTitleImg' AND J.V_JCODE=U.FILE_CODE AND J.V_STATE='Y' AND J.V_CATE=#{type})
  		</select>
  		
		<select id="selectCountGudck" parameterType="string" resultType="_int">
		SELECT COUNT(*)
		FROM JDBC
		WHERE V_STATE = 'Y'
		AND MCODE = (SELECT MID FROM MEMBER WHERE MCODE = #{mcode})
		</select>  		
  		
  		<select id="selectGuockBJ" parameterType="string" resultType="java.lang.String">
  		SELECT BJ_MCODE FROM SUBSCRIBE WHERE READER_MCODE = (SELECT MCODE FROM MEMBER WHERE MID=#{mId})
  		</select>
  		
  		<select id="scroll" resultMap='allBJSET'>
  		SELECT J.INTRODUCE,J.V_TITLE,J.V_CONTENT,TO_CHAR(J.V_STARTTIME,'HH24:MI') V_STARTTIME,J.V_CATE,J.MCODE,J.V_JCODE,J.V_HREF,J.V_VIEWERS,U.F_RENAME,(SELECT COUNT(*) FROM SUBSCRIBE S WHERE S.BJ_MCODE=J.MCODE) V_LIKE ,M.M_NICKNAME 
		FROM JDBC J 	
		JOIN MEMBER M ON(J.MCODE=M.MID) 
		JOIN UPLOADFILE U ON(U.F_MCODE=J.MCODE) 
		WHERE U.FROM_CODE='BSTitleImg' 
		AND J.V_JCODE=U.FILE_CODE AND J.V_STATE='Y' 
		ORDER BY V_VIEWERS DESC
  		</select>
  		
  		<select id="selectFanid" parameterType="string" resultType="string">
  		SELECT MID FROM MEMBER WHERE MCODE = #{mId}
  		</select>
  		<select id="selectFan" parameterType="string" resultType="String">
  		SELECT DISTINCT FROM_MCODE FROM EXPEACH WHERE TO_MCODE = (SELECT MCODE FROM MEMBER WHERE MID = #{mId})
  		</select>
  		
  		
</mapper>