<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="LiveBJ">
		<resultMap type="LiveBJ" id="allBJSET" >
  			<id property="jcode" column="V_JCODE"/>
  			<result property="introduce" column="INTRODUCE"/>
  			<result property="bsTitle" column="V_TITLE"/>
  			<result property="bsContent" column="V_CONTENT"/>
  			<result property="starttime" column="V_STARTTIME"/>
  			<result property="like" column="V_LIKE"/>
  			<result property="cate" column="V_CATE"/>
  			<result property="mid" column="MCODE"/>
  			<result property="f_rename" column="F_RENAME"/>
  			<result property="v_state" column="V_STATE"/>
  			<result property="v_href" column="V_HREF"/>
  			<result property="nickname" column="M_NICKNAME"/>
  		</resultMap>
  		
  		<!-- 시청자가 실시간 방송 정보가저오기 -->
  		<select id='JDBCInfo' parameterType="String" resultMap='allBJSET'>
  		SELECT J.INTRODUCE,J.V_TITLE,J.V_CONTENT,J.V_STARTTIME,J.V_LIKE,J.V_CATE,J.MCODE,J.V_JCODE,J.V_STATE,J.V_HREF,U.F_RENAME,M.M_NICKNAME FROM JDBC J JOIN MEMBER M ON(J.MCODE=M.MID) JOIN UPLOADFILE U ON(U.F_MCODE=J.MCODE)  WHERE U.FROM_CODE='BSTitleImg' AND J.V_JCODE=U.FILE_CODE AND J.V_HREF=#{href3}
  		</select>
  		
  		<!-- bj가 실시간 방송 정보가저오기 -->
  		<select id='JDBCInfo2' parameterType="String" resultMap='allBJSET'>
  		SELECT J.INTRODUCE,J.V_TITLE,J.V_CONTENT,J.V_STARTTIME,J.V_LIKE,J.V_CATE,J.MCODE,J.V_JCODE,J.V_STATE,J.V_HREF,U.F_RENAME,M.M_NICKNAME FROM JDBC J JOIN MEMBER M ON(J.MCODE=M.MID) JOIN UPLOADFILE U ON(U.F_MCODE=J.MCODE)  WHERE U.FROM_CODE='BSTitleImg' AND J.V_JCODE=U.FILE_CODE AND J.MCODE=#{href3}
  		</select>

		<!-- 방송시작 인서트 -->
		<insert id="insertBSCotent" parameterType="LiveBJ">
		INSERT INTO JDBC VALUES (NULL ,#{bsTitle},#{bsContent},SYSDATE,0,#{cate},#{mid},SEQ_JDBCCODE.NEXTVAL,'N',NULL)
  		</insert>
  		
  		<insert id="insertBSTitleImg" parameterType="JDBClogo">
  		INSERT INTO UPLOADFILE VALUES (#{from_code},#{f_orname},#{f_rename},#{filepath},#{f_mcode},SYSDATE,SEQ_JDBCCODE.CURRVAL)
  		</insert>
  		<!-- 모든bj 불러오기 -->
  		<select id='allBJ' resultMap='allBJSET'>
		SELECT J.INTRODUCE,J.V_TITLE,J.V_CONTENT,J.V_STARTTIME,J.V_LIKE,J.V_CATE,J.MCODE,J.V_JCODE,J.V_STATE,J.V_HREF,U.F_RENAME,M.M_NICKNAME FROM JDBC J JOIN MEMBER M ON(J.MCODE=M.MID) JOIN UPLOADFILE U ON(U.F_MCODE=J.MCODE)  WHERE U.FROM_CODE='BSTitleImg' AND J.V_JCODE=U.FILE_CODE AND J.V_STATE='Y'
  		</select>
  		<!-- 구독자순 불러오기 -->
  		<select id='BestBJ' resultMap='allBJSET'>
		SELECT J.INTRODUCE,J.V_TITLE,J.V_CONTENT,J.V_STARTTIME,J.V_LIKE,J.V_CATE,J.MCODE,J.V_JCODE,U.F_RENAME,(SELECT COUNT(*) FROM SUBSCRIBE S WHERE S.BJ_MCODE=J.MCODE) SUBSCRIBE ,M.M_NICKNAME FROM JDBC J JOIN MEMBER M ON(J.MCODE=M.MID) JOIN UPLOADFILE U ON(U.F_MCODE=J.MCODE) WHERE U.FROM_CODE='BSTitleImg' AND J.V_JCODE=U.FILE_CODE ORDER BY SUBSCRIBE DESC  		
  		</select>
  		<!-- 추천수 불러오기 -->
		<select id='UpBJ' resultMap='allBJSET'>
  		SELECT J.INTRODUCE,J.V_TITLE,J.V_CONTENT,J.V_STARTTIME,J.V_LIKE,J.V_CATE,J.MCODE,J.V_JCODE,J.V_STATE,J.V_HREF,U.F_RENAME,M.M_NICKNAME FROM JDBC J JOIN MEMBER M ON(J.MCODE=M.MID) JOIN UPLOADFILE U ON(U.F_MCODE=J.MCODE) WHERE U.FROM_CODE='BSTitleImg' AND J.V_JCODE=U.FILE_CODE AND J.V_STATE='Y' ORDER BY J.V_LIKE DESC
  		</select>
  		<!-- 먹방 불러오기 -->
  		<select id='Eat' resultMap='allBJSET'>
		SELECT J.INTRODUCE,J.V_TITLE,J.V_CONTENT,J.V_STARTTIME,J.V_LIKE,J.V_CATE,J.MCODE,J.V_JCODE,J.V_STATE,J.V_HREF,U.F_RENAME,M.M_NICKNAME FROM JDBC J JOIN MEMBER M ON(J.MCODE=M.MID) JOIN UPLOADFILE U ON(U.F_MCODE=J.MCODE) WHERE U.FROM_CODE='BSTitleImg' AND J.V_JCODE=U.FILE_CODE AND J.V_STATE='Y' AND J.V_CATE='먹방'  		
		</select>
  		<!-- 게임 불러오기 -->
  		<select id='Game' resultMap='allBJSET'>
		SELECT J.INTRODUCE,J.V_TITLE,J.V_CONTENT,J.V_STARTTIME,J.V_LIKE,J.V_CATE,J.MCODE,J.V_JCODE,J.V_STATE,J.V_HREF,U.F_RENAME,M.M_NICKNAME FROM JDBC J JOIN MEMBER M ON(J.MCODE=M.MID) JOIN UPLOADFILE U ON(U.F_MCODE=J.MCODE) WHERE U.FROM_CODE='BSTitleImg' AND J.V_JCODE=U.FILE_CODE AND J.V_STATE='Y' AND J.V_CATE='게임'  		
		</select>
  		<!-- 이빨까기 불러오기 -->
  		<select id='Talk' resultMap='allBJSET'>
  		SELECT J.INTRODUCE,J.V_TITLE,J.V_CONTENT,J.V_STARTTIME,J.V_LIKE,J.V_CATE,J.MCODE,J.V_JCODE,J.V_STATE,J.V_HREF,U.F_RENAME,M.M_NICKNAME FROM JDBC J JOIN MEMBER M ON(J.MCODE=M.MID) JOIN UPLOADFILE U ON(U.F_MCODE=J.MCODE) WHERE U.FROM_CODE='BSTitleImg' AND J.V_JCODE=U.FILE_CODE AND J.V_STATE='Y' AND J.V_CATE='토크/캠방'
  		</select>
  		<!-- 스포츠 불러오기 -->
  		<select id='Sport' resultMap='allBJSET'>
  		SELECT J.INTRODUCE,J.V_TITLE,J.V_CONTENT,J.V_STARTTIME,J.V_LIKE,J.V_CATE,J.MCODE,J.V_JCODE,J.V_STATE,J.V_HREF,U.F_RENAME,M.M_NICKNAME FROM JDBC J JOIN MEMBER M ON(J.MCODE=M.MID) JOIN UPLOADFILE U ON(U.F_MCODE=J.MCODE) WHERE U.FROM_CODE='BSTitleImg' AND J.V_JCODE=U.FILE_CODE AND J.V_STATE='Y' AND J.V_CATE='스포츠'
  		</select>
  		<!-- 음악 불러오기 -->
  		<select id='Music' resultMap='allBJSET'>
  		SELECT J.INTRODUCE,J.V_TITLE,J.V_CONTENT,J.V_STARTTIME,J.V_LIKE,J.V_CATE,J.MCODE,J.V_JCODE,J.V_STATE,J.V_HREF,U.F_RENAME,M.M_NICKNAME FROM JDBC J JOIN MEMBER M ON(J.MCODE=M.MID) JOIN UPLOADFILE U ON(U.F_MCODE=J.MCODE) WHERE U.FROM_CODE='BSTitleImg' AND J.V_JCODE=U.FILE_CODE AND J.V_STATE='Y' AND J.V_CATE='음악'
  		</select>
  		<!-- 기타불러오기 -->
  		<select id='etc' resultMap='allBJSET'>
  		SELECT J.INTRODUCE,J.V_TITLE,J.V_CONTENT,J.V_STARTTIME,J.V_LIKE,J.V_CATE,J.MCODE,J.V_JCODE,J.V_STATE,J.V_HREF,U.F_RENAME,M.M_NICKNAME FROM JDBC J JOIN MEMBER M ON(J.MCODE=M.MID) JOIN UPLOADFILE U ON(U.F_MCODE=J.MCODE) WHERE U.FROM_CODE='BSTitleImg' AND J.V_JCODE=U.FILE_CODE AND J.V_STATE='Y' AND J.V_CATE='기타'
  		</select>
  		
  		
  		<update id="startBrod" parameterType="LiveBJ">
  		UPDATE JDBC SET V_STATE='Y', V_HREF=#{v_href} WHERE MCODE=#{mid}
  		</update>
</mapper>