<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MyPage">

	<resultMap type="Member" id="memberResultSet" >
  			<id property="mcode" column="MCODE"/>
  			
  			<result property="mId" column="MID"/>
  			<result property="mPwd" column="MPWD"/>
  			<result property="mName" column="MNAME"/>
  			<result property="nickName" column="M_NICKNAME"/>
  			<result property="email" column="EMAIL"/>
  			<result property="account" column="ACCOUNT"/>
  			<result property="joinDate" column="JOIN_DATE"/>
  			<result property="updateDate" column="UPDATE_DATE"/>
  			<result property="status" column="MSTATUS"/>
  			<result property="a_status" column="A_STATUS"/>
  			<result property="peach" column="PEACH"/>
  			<result property="videoYN" column="VIDEO_YN"/>
	</resultMap>
	
	<resultMap type="Board" id="myPageResultSet">
		<id property="b_code" column="B_CODE"/>
		
		<result property="v_code" column="V_CODE"/>
		<result property="b_type" column="B_TYPE"/>
		<result property="b_title" column="B_TITLE"/>
		<result property="b_content" column="B_CONTENT"/>
		<result property="bwriter" column="BWRITER"/>
		<result property="b_create_date" column="B_CREATE_DATE"/>
		<result property="b_update_date" column="B_UPDATE_DATE"/>
		<result property="b_count" column="B_COUNT"/>
		<result property="b_status" column="B_STATUS"/>
	</resultMap>
	
	<resultMap type="Reply" id="replyResultSet">
		<id property="b_code" column="B_CODE"/>
		
		<result property="r_code" column="R_CODE"/>
		<result property="r_content" column="R_CONTENT"/>
		<result property="r_writer" column="R_WRITER"/>
		<result property="r_create_date" column="R_CREATE_DATE"/>
		<result property="r_like" column="R_LIKE"/>
	</resultMap>
	
	<!-- 닉네임 중복확인 -->
	<select id="overlapCheck" parameterType="java.lang.String" resultType="string">
  			SELECT M_NICKNAME FROM MEMBER WHERE M_NICKNAME = #{ nickName }
	</select>
	
	<!-- 닉네임 변경 -->
    <update id="changeNick" parameterType="Member">
    	UPDATE MEMBER 
    	SET M_NICKNAME = #{ nickName }, UPDATE_DATE = SYSDATE
    	WHERE MID = #{ mId }
    </update>
    
    <!-- 비밀번호 변경 -->
    <update id="changePwd" parameterType="Member">
    	UPDATE MEMBER
    	SET MPWD = #{ mPwd }, UPDATE_DATE = SYSDATE
    	WHERE MID = #{ mId }
    </update>
    
    <!-- 회원 탈퇴 -->
    <update id="withdraw" parameterType="java.lang.String">
    	UPDATE MEMBER
    	SET MSTATUS = 'N', UPDATE_DATE = SYSDATE
    	WHERE MID = #{ mId }
    </update>
    
    <!-- 내 질문 내역 -->
    <select id="pList" resultMap="myPageResultSet" >
        SELECT *
		FROM BOARD
		WHERE B_CODE LIKE '%' || #{ mId } AND B_TYPE LIKE 'personal%'
		ORDER BY B_CREATE_DATE DESC
    </select>
    
    <!-- 총 질문 게시글 수 -->
    <select id="pListTotal" resultType="_int">
    	SELECT COUNT(*) TOTAL
		FROM BOARD
		WHERE B_CODE LIKE '%' || #{ mId } AND B_TYPE LIKE 'personal%'
    </select>
    
    <!-- 질문 답변 -->
    <select id="paList" parameterType="java.lang.String" resultMap="replyResultSet">
    	SELECT B_CODE, R_CONTENT
		FROM REPLY
		WHERE B_CODE = #{b_code}
    </select>

</mapper>